DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000
DJANGO_TIME_ZONE=UTC
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=spotter
DATABASE_USER=spotter
DATABASE_PASSWORD=spotter
DATABASE_HOST=localhost
DATABASE_PORT=5433
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@example.com
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-this-in-production
